.header__menu-btn {    
	display: inline-block;
	cursor: pointer;
	padding: 0 8px;
	width: 20px;
	height: 20px;

	&-bar{
		width: 24px;
		height: 3px;
		background-color: blue;
		margin: 5px 0;
		transition: 0.3s;
	}

	&--active &-bar--one{
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	&--active &-bar--two{
		opacity: 0;
	}
	&--active &-bar--three{
		transform: rotate(45deg) translate(-5px, -6px);
	}
 }



