.list-icn {
	@include fnt-lucida (#373F51,17px,140%,normal);
		height: 80px;
		border-bottom: 1px dashed #B4B8C5;
		display: flex;
		align-items: center;

		&:last-child {
			border-bottom: none;	
		}

		& > img {
			margin-right: 15px;
		}

		&__svg {
			width: 48px;
			height: 48px;
			min-width: 48px;
			margin-right: 15px;
		}
}