.sc-integr {
	&__inf{
		margin: 80px 0px;
	}

	&__ml {
		margin-left: 96px;
	}
	
	&__serv-itm {
		@include col();
		@include size(5.45);
		&:nth-last-child(-n+2) {
			border-bottom: none;	
		}
		
	}

	&__cargo-itm {
		@include col();
		@include size(5.45);

		
	}

	&__dtd {
		background: linear-gradient(90deg, #0073BE 39.17%, rgba(0, 115, 190, 0) 99.03%), #00171F;
		padding: 56px 0px;
		position: relative;
		min-height: 435px;
	}
	&__tx {
		@include col-ib();
		@include size(8.5);


	}
	&__img {
		width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;

  //   &:before {
  //   	content: '';
  //   	flex: 1;
  //   }
		// &:after{
		// 	content: ''
		// 	background-size: cover;
		// 	max-width: 466px;
		// 	max-height: 351px;
		// 	// position: absolute;
		// 	// right: -200px;
		// 	background-image: url(#{$imgFolder}car.png)
		// }
		
	}

	&__blank {
		display: inline-block;
    	vertical-align: top;
    	width: calc(74%);
	}
	&__car {
		    display: inline-block;
    		vertical-align: top;
    		width: calc(26%);
    		margin-right: 40px;
    		margin-left: 20px;
    		margin: auto 40px auto 0;
	}
	&__cargo {
		position: absolute;
		width: 209px;
		height: 161px;
		top: 190px;
	}

	&__wr {
		display: flex;
	}

	&__itm {
		position: relative;
	}
}