.sc-about {
	// height: 768px;
    background-color: #ffffff;
    background-size: cover;
    display: block;
    position: relative;

    &__itm {
    	@include row-flex ();
    }
    &__inf {
    	// height: 728px;
    	padding: 80px 0px;

    	@include sm-block () {
		   padding: 32px 0px;
			& .sc-cap {
				margin-bottom: 40px;
		    }
		    & .sc-scap {
				margin-bottom: 40px;
				font-size: 24px;
				line-height: 32px;
		    }

		}		

		@include xs-block () {
		    padding: 24px 0px;
		    & .sc-cap {
				margin-bottom: 24px;
		    }
		    & .sc-scap {
				margin-bottom: 24px;
				font-size: 18px;
				line-height: 27px;
		    }
		}
    }

    &__assoc {
    	height: 379px;
    	background-color:#F3F3F3;
    	padding: 56px 0px 64px 0px;
    	@include sm-block () {
		   padding: 56px 0px;
		}		

		@include xs-block () {
		    padding: 40px 0px;
		}
    }
	
	&__bl-inf{
		@include col();
        @include size(4);
        background: #FFFFFF;
		border: 1px solid #D5D7E1;
		box-sizing: border-box;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 16px;
		text-align: center;

		@include sm-block () {
			& .fnt-fr--3244 {
				font-size: 24px;
				line-height: 44px;
			}
			& .fnt-lc--17 {
				font-size: 16px;
				line-height: 160%;
			}
		}
		@include xs-block () {
			@include size(12);
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		
	}

	&__chk-inf{
		@include col();
        @include size(3);

		@include sm-block () {
			@include size(6);
			margin-bottom: 24px;
		}
		@include xs-block () {
			@include size(12);
			margin-bottom: 16px;
		}
	
	}

	&__assoc-img {
		@include col();
        @include size(3);
        background-blend-mode: color, normal;
		opacity: 0.4;
		filter: grayscale(1);
		cursor: pointer;
		&:hover {
			opacity: 1;
			filter: grayscale(0);	
		}

	}

}