h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

@include reset();

.debugGrid {
	@include debug(rgba(0,0,0,0.4),1px solid yellow);
	z-index: 99;
}

.sg-wrp {
	@include wrapper ();
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	// outline: none; //так дизайнер попросил
}

html 
	{
	 height: 100%;
	 box-sizing: border-box;
	 margin: 0;
}

*:before, *:after
{
	box-sizing: inherit;
}

body {
	// height: 100%;
	// overflow: hidden;
}



.main-content {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	// min-width: 320px;
	// height: 100%;
}


.fx-rw {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}